/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.start_sup_title{
  font-size: 5vw;
  font-weight: 700;
}

.start_title{
  font-size: 6vw;
  font-weight: 700;
}

.start_greeting{
  font-size: 17px;
}

.about_title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0px 0px 70px 0px;
}

.about_text{
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.4px;
  text-align: justify;
}

.content{
  padding: 20px 0 60px 0;
  flex: 1 1 auto;
  background-color: rgb(231, 235, 240);
}

#root{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.dash_main{
  height: 100vh;
  width: 100vw;
  background-color: #484848;
  display: flex;
}

.sidebar{
  padding: 65px 0px 10px 0px;
  height: 100%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__menu {
    display: flex;
    flex-direction: column;
  }
}

.dash-content {
  width: 100%;
  height: 100%;
}

.dash-header{
  height: 7vh;
  background-color: #212121;
  color: #fff;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .cont {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__icon {
    img {
      width: 40px;
      height: 40px;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 25px;
  }
}

.content_block{
  padding: 60px 80px;
  width: 100%;
  height: 95vh;
  overflow: auto;
}

.login-main {
  width: 100%;
  height: 100vh;
  background-color: #212121;
  &__title {
    font-size: 128px;
    color: #fff;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: max-content;
}

.form {
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 0px 65px 0px;
  }
  &__submit {
    width: 491.04px;
    height: 49.84px;
    background: #8B54FF;
    border: 2px solid #9CA6FF;
    border-radius: 20px;
    color: #fff;
  }
}

.input-text {
  background: transparent;
  width: 491.04px;
  height: 49.84px;
  border: 2px solid #9CA6FF;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 25px 0px;
}
